<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SealCutting.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>D4F9BD661CE9CA710055D2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4F9BD7A1CE9CA720055D2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>D4F9BD851CE9CA720055D2EC</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
